<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My UI Page</title>
    <style>
        body {
            background: #f7f7ff;
            font-family: Arial, sans-serif;
            padding-top: 50px;
            text-align: center;
        }
        .card {
            margin: auto;
            width: 300px;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
<div class="card">
    <h1 th:text="${message}">Default Message</h1>
</div>
</body>
</html>
